.counterSettingsBox {
    height: 300px;
    width: 400px;
    margin: 20px;
}

.inputArea {
    height: 160px;

    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 20px;
    vertical-align: middle;
    line-height: 150px;
    font-size: 90px;
}

.error {
    color: red;
}

.borders {
    border: solid 3px cyan;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.buttonsArea {
    height: 80px;
    margin: 20px;
    /*width: 360px;*/


}