.display {
    height: 160px;
    border-radius: 10px;
    background-color: cyan;
    margin: 20px;
    vertical-align: middle;
    line-height: 150px;
    font-size: 90px;
    color: black;
}
.counter {
    font-size: 90px;
    font-weight: bold;
}

.message {
    font-size: 20px;
    font-weight: bold;
}

.max {
    color: darkred;
}